!!!
%html(lang="en")
  %head
    %meta(content="text/html; charset=UTF-8" http-equiv="Content-Type")/
    %title demo19 Legend
    %link(href="/app/graph.css"  rel="stylesheet" type="text/css")/
    %link(href="/app/legend.css" rel="stylesheet" type="text/css")/
    %link(href="/app/demo19.css"  rel="stylesheet" type="text/css")/
    %script(src="/app/d3.v3.min.js"    )
    %script(src="/app/d3.layout.min.js")
    %script(src="/app/jquery.min.js"   )
    %script(src="/app/jquery-ui.min.js")
    %script(src="/app/rickshaw.min.js" )
  %body
    %h1 app21/demo19 Legend
    #refer
      Refer to:
      %br/
      %a(href='http://code.shutterstock.com/rickshaw/' target='x')
        http://code.shutterstock.com/rickshaw/
      %br/
      %a(href='http://code.shutterstock.com/rickshaw/examples/legend.html' target='x')
        http://code.shutterstock.com/rickshaw/examples/legend.html
    %hr/
    / The div-element below should be affected by rickshaw.js
    #my_rickshaw_chart_container
      #my_rickshaw_chart
      #legend_container
        #smoother(title="Smoothing")
        #legend
    :javascript
      // set up our data series with 50 random data points
      var seriesData = [ [], [], [] ];
      var random = new Rickshaw.Fixtures.RandomData(150);
      for (var i = 0; i < 150; i++) {
      	random.addData(seriesData);
      }
      // instantiate our graph!
      var graph = new Rickshaw.Graph( {
      	element: document.getElementById("my_rickshaw_chart"),
      	width: 960,
      	height: 500,
      	renderer: 'area',
      	series: [
      		{
      			color: "#c05020",
      			data: seriesData[0],
      			name: 'New York'
      		}, {
      			color: "#30c020",
      			data: seriesData[1],
      			name: 'London'
      		}, {
      			color: "#6060c0",
      			data: seriesData[2],
      			name: 'Tokyo'
      		}
      	]
      } );
      graph.render();
      var legend = new Rickshaw.Graph.Legend( {
      	graph: graph,
      	element: document.getElementById('legend')
      } );      
      var shelving = new Rickshaw.Graph.Behavior.Series.Toggle( {
      	graph: graph,
      	legend: legend
      } );      
      var order = new Rickshaw.Graph.Behavior.Series.Order( {
      	graph: graph,
      	legend: legend
      } );      
      var highlight = new Rickshaw.Graph.Behavior.Series.Highlight( {
      	graph: graph,
      	legend: legend
      } );
