!!!
%html(lang="en")
  %head
    %meta(content="text/html; charset=UTF-8" http-equiv="Content-Type")/
    %title demo18 Scatter Plot
    %script(src="/app/d3.v3.min.js")
    %script(src="/app/rickshaw.min.js")
  %body
    %h1 app21/demo18 Scatter Plot
    #refer
      Refer to:
      %br/
      %a(href='http://code.shutterstock.com/rickshaw/' target='x')
        http://code.shutterstock.com/rickshaw/
      %br/
      %a(href='http://code.shutterstock.com/rickshaw/guide/scatterplot-1.html' target='x')
        http://code.shutterstock.com/rickshaw/guide/scatterplot-1.html
    %hr/
    / The div-element below should be affected by rickshaw.js
    #my_rickshawchart
    :javascript
      var series1 = {
        color: '#0000FF',
        data: [ 
          { x: 0, y: 40 }, 
          { x: 0, y: 45 }, 
          { x: 1, y: 49 }, 
          { x: 1, y: 46 }, 
          { x: 2, y: 38 }, 
          { x: 2, y: 30 }, 
          { x: 3, y: 0 }, 
          { x: 4, y: 0 } ]};
      var series2 = {
        color: '#FF0000',
        data: [ 
          { x: 0, y: 0 }, 
          { x: 1, y: 0 }, 
          { x: 2, y: 22 }, 
          { x: 2, y: 26 }, 
          { x: 3, y: 30 }, 
          { x: 3, y: 37 }, 
          { x: 4, y: 36 }, 
          { x: 4, y: 32 } ]};
      var graph = new Rickshaw.Graph( {
          renderer: 'scatterplot',
          stroke: true,
          element: document.querySelector("#my_rickshawchart"), 
          width: 500, 
          height: 200, 
          series: [series1,series2]
      });
      graph.render();
